/* @media (prefers-color-scheme: dark) { 
  }
*/

@font-face {
  font-family: 'Finder';
  src: url('/Finder-Variable.woff2') 
  format('woff2');
}

* {
  font-family: Finder,ui-sans-serif,system-ui;
  font-weight: 100;
}

html {
  color-scheme: dark;
}

body {
  color: white;
  background: rgb(24 24 27);
}

.nav-bar {
  display: flex;
  padding: 1.25rem;
  align-items: center;
}

.search {
  background-color: transparent;
  flex-grow: 1;
  margin: 0 50px;
  padding: 20px;
  border-style: solid;
  border-color: rgb(43, 43, 43);
}

::placeholder {
  font-size: 15px;
  color: grey;
}

.art-section {
  display: flex;
  margin-top: 30px;
  min-height: 70vh;
}

.art-piece-details {
  min-width: 10vw;
  max-width: 20vw;
  min-height: 80vh;
  padding-left: 20px;
  border-style: solid;
  border-style: none solid none none;
  margin: 0 40px 0 0;
  border-color: rgb(43, 43, 43);
  border-width: 1.5px;
}


.art-piece-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.collection-creator {
  font-size: 30px;
}

.collection-creator:hover {
  color: white;
  font-size: 30px;
  text-decoration: underline;
}

.creator-name {
  margin: 0 0 20px;
  color: grey;
}

.bid-info {
  display: flex;
}


.price-info>small,
.highest-bid-info>small {
  color: rgb(152, 152, 152);
}

.price-info>h1,
.highest-bid-info>h1 {
  margin: 10px 0 0px;
}

.price-info>p,
.highest-bid-info>p {
  margin: 0 0 20px;
  font-size: 15px;
  color: grey;
}

.price-info>button {
  margin: 0 0 20px;
  font-size: 15px;
  padding: 10px 20px;
}

.highest-bid-info>button {
  color: white;
  background-color: black;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  margin: 0 0 20px;
  font-size: 16px;
  padding: 10px 20px;
}


.highest-bid-info {
  color: grey;
  margin-left: 20px;
}

.section{
  height: auto;
  margin-right: 15px;
  padding-bottom: 20px;
  /* transition: height 10s ease-in; */
}

.section-hidden{
  margin-right: 15px;
  padding-bottom: 40px;
  height: 0;
  overflow: hidden;

}

.section-title{
  color: grey;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.round-button{
  background-color:grey ;
  color: white;
  width: 30px;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.icon{
  translate: -0.5px -1px;
}

.description{
  font-family: Finder;
  font-size: 17px;
  padding-right: 10px;
}

table{
  border-collapse: collapse;
  width: 100%;
}

.feature-name{
  color: grey;
  width: 150px;
}

.history-type{
  width: 100px;
  color: ghostwhite;
}

.history-address{
  color: grey;
}

.history-date{
  color:grey;
  font-size: 13px;
  text-align: right;
}

.extra-info-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 100px;
}

.extra-info-buttons>button{
  color: white;
  background-color: black;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  margin: 0 0 10px;
  font-size: 13px;
  padding: 5px 20px;
}

