@font-face {
  font-family: 'Finder';
  src: url('/Finder-Variable.woff2') format('woff2');
}

:root {
  --back: rgb(24, 24, 27);
  --text: white;
  --button-color: grey;
  --input-field: rgb(43, 43, 43);
  --section-seprator: rgb(88, 88, 88);
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --back: white;
    --text: black;
    --button-color: rgb(197, 197, 197);
    --input-field: rgb(212 212 216 / 0.4);
    --section-seprator: rgb(212 212 216);
  }
}

* {
  font-family: Finder, ui-sans-serif, system-ui;
  font-weight: 100;
}

body {
  color: var(--text);
  background: var(--back);
}

.nav-bar {
  display: flex;
  padding: 1.25rem;
  align-items: center;
}

.search {
  background-color: transparent;
  flex-grow: 1;
  margin: 0 50px;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--input-field)
}

::placeholder {
  font-size: 15px;
  color: grey;
}

.art-section {
  display: flex;
  margin-top: 30px;
  min-height: 70vh;
  width: 100%;
  /* background-color: pink; */
}

.art-piece-details {
  min-width: 10%;
  max-width: 20%;
  min-height: 80vh;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  border-style: none solid none none;
  margin: 0 40px 0 0;
  border-color: var(--section-seprator);
  border-width: 1.5px;
}

a {
  color: var(--text);
  text-decoration: none;
}


a:hover {
  color: var(--text);
  text-decoration: underline;
}

.collection-creator {
  font-size: 30px;
}

.collection-creator:hover {
  color: white;
  font-size: 30px;
  text-decoration: underline;
}

.creator-name {
  margin: 0 0 20px;
  color: grey;
}

.bid-info {
  display: flex;
}


.price-info>small,
.highest-bid-info>small {
  color: rgb(152, 152, 152);
}

.price-info>h1,
.highest-bid-info>h1 {
  margin: 10px 0 0px;
}

.price-info>p,
.highest-bid-info>p {
  margin: 0 0 20px;
  font-size: 15px;
  color: grey;
}

.price-info>button {
  margin: 0 0 20px;
  font-size: 15px;
  padding: 10px 20px;
  color: var(--back);
  background-color: var(--text);
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.highest-bid-info>button {
  color: var(--text);
  background-color: transparent;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  margin: 0 0 20px;
  font-size: 16px;
  padding: 10px 20px;
}


.highest-bid-info {
  color: grey;
  margin-left: 20px;
}

.tile {
  margin-bottom: 5px;
  margin-right: 10px;
}

.section {
  max-height: 300px;
  transition:all 0.5s ease-in-out;
  overflow: hidden; 
}

.section-hidden {
  max-height: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden; 
}

.section-title {
  color: grey;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.round-button {
  background-color: var(--button-color);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon {
  translate: -0.1px 1px;
}

.description {
  font-family: Finder;
  font-size: 17px;
  padding-right: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.feature-name {
  color: grey;
  width: 150px;
}

.history-type {
  width: 100px;
  color: var(--text);
}

.history-address {
  color: var(--text);
}

.history-date {
  color: grey;
  font-size: 13px;
  text-align: right;
}

.extra-info-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 100px;
}

.art-piece-showcase {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.extra-info-buttons>button {
  color: var(--text);
  background-color: var(--back);
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  font-size: 13px;
  padding: 5px 15px;
}

@media only screen and (max-width: 992px) {
  .art-piece-details {
    min-width: 100%;
    min-height: 100%;
    border-style: none;
  }

  .art-piece-showcase {
    padding-bottom: 20px;
    width: 95%;
  }

  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search {
    width: 95%;
    margin: 0;
  }

}